==
<?php
function onInit()
{
    $this['path_css'] = mix('public/css/theme.css', 'themes/'.\Cms\Classes\Theme::getActiveTheme()->getDirName().'/assets');
    $this['path_js'] = mix('public/js/theme.js', 'themes/'.\Cms\Classes\Theme::getActiveTheme()->getDirName().'/assets');
}
?>
==
{% spaceless %}
<!doctype html>
<html lang="en" class="no-js" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=1">
    <link rel="shortcut icon" href="{{ 'assets/images/uikit/icon.png'|theme }}">
    <link href="{{ path_css }}" rel="stylesheet">
  </head>

  <body class="uk-height-viewport">
    {% page %}
  </body>

  <script src="{{ path_js }}"></script>

</html>
{% endspaceless %}
